@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
       box-sizing: border-box;
   }

body{
    font-family: "Poppins", serif;
}

.row{
    padding: 3px;
}

input[type="text"], input[type="submit"],input[type="date"], input[type="email"],input[type="select"],.form-select{
    text-transform: capitalize;
    border-radius: 30px;
}

input[type="email"]{
    text-transform: lowercase;
}

#00NR2000001vzhJ{
    text-transform: uppercase;
}

.colored{
    color: red;
}

label, .msg {
    text-align: left !important;
    display: block !important;
    font-weight: bold;
}

#submitBtn{
    background-color: #00b5e2;
    color: white;
    font-weight: bold;
}
#submitBtn:hover{
    background-color: #fce300;
    color: #001f60;
    font-weight: bold;
}
