@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
       box-sizing: border-box;
   }

body{
    font-family: "Poppins", serif;
}

.row{
    padding: 3px;
}

#sectionheader{
    color: #001f60;
}

input[type="text"], input[type="submit"],input[type="select"],.form-select,#calcolacf, #luogonascita{
    text-transform: capitalize;
    border-radius: 30px;
}

input[type="date"]{
    border-radius: 30px;
}

input[type="email"]{
    text-transform: lowercase;
    border-radius: 30px;
}

#atleta {
       display: flex;
       flex-direction: row;
       padding-top: 10px;
}

#cfatleta, #cfgenitore{
    text-transform: uppercase;
}

#calcolacf {
    width: 100%; 
    background-color: #fce300;  
    color: #001f60; 
}

#colored{
    color: red;
}

label {
    text-align: left;
    display: block;
}

#terms{
    transform: scale(2);
    border: 1px;
    border-color: #001f60;
}
#invia{
    background-color: #00b5e2;
    color: white;
    font-weight: bold;
}
#invia:hover{
    background-color: #fce300;
    color: #001f60;
    font-weight: bold;
}

hr{
    color: #00b5e2;
    border: 1px solid;
}